.container {
    background-image: url("https://www.surfertoday.com/images/stories/swelllines.jpg");
    background-size: 100%;
}
h1 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    border-bottom: 3px solid blue;
}
.frame1 {
    display: block;
    border: 3px double blue;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    width: 950px;
}
.forecasts {
    border: 3px double blue;
    height: 275px;
    width: 500px;
    background-color: slategray;
    padding: 3px;
    float: left;
}
.frame2 {
    border: 3px double blue;
    margin: auto;
    padding: 3px;
    float: right;
}
.cold {
    color: seagreen;
    padding: 3px;
    text-align: center;
}
h2 {
    clear: both;
    overflow: auto;
    font-weight: bold;
}
.frame3 {
    margin: 30px 0 30px 0;
    border: 3px double blue;
    padding: 3px;
    float: left;
}
h3 {
    clear: both;
    overflow: auto;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

#closing {
    display: block;
    border: 3px double blue;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    width: 1024px;
}